{% extends "templates/base.html" %}

{% block "content" %}
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1>DOI: {{doi}}</h1>
    <p class="lead">Events from {{first-date|date:"d MMMM YYYY"}} to {{last-date|date:"d MMMM YYYY"}}</p>

    <h2>Milestones and facts</h2>
    <table class="table table-striped">
    {% for fact in facts %}
    <tr>
        <td>{{fact.type-name}}</td>
        <td>{{fact.count}}</td>
        <td>From {{fact.source-name}}</td>
        <td>{% if fact.arg1 %}{{fact.arg1desc}}: {{fact.arg1}} {% endif %}</td>
        <td>{% if fact.arg2 %}{{fact.arg2desc}}: {{fact.arg2}} {% endif %}</td>
        <td>{% if fact.arg3 %}{{fact.arg3desc}}: {{fact.arg3}} {% endif %}</td>
        </tr>
    {% endfor %}
    
    {% for event in milestone-events %}
    <tr>
        <td>{{event.type-name}}</td>
        <td>{{event.event|date:"YYYY-MM-dd"}}</td>
        <td>From {{event.source-name}}</td>
        <td>{% if event.arg1 %}{{event.arg1desc}}: {{event.arg1}} {% endif %}</td>
        <td>{% if event.arg2 %}{{event.arg2desc}}: {{event.arg2}} {% endif %}</td>
        <td>{% if event.arg3 %}{{event.arg3desc}}: {{event.arg3}} {% endif %}</td>
    </tr>
    {% endfor %}
    </table>

    
    {% if first-date last-date %}
    <h2>Charts</h2>
    <script>
    var milestoneMarkers = [
    {% for event in milestone-events %}
    {"label": "{{event.type-name}}", "date": new Date("{{event.event|date:"YYYY-MM-dd"}}")}{% if not forloop.last %},{% endif %}
    {% endfor %}
    ];
    </script>

    {% for type, events in continuous-events-by-type %}
    <!-- <h2>{{type}}</h2> -->
    <div id="chart-{{forloop.counter}}"></div>
    <script>
    <!-- TODO JS escape -->

    var data{{forloop.counter}} = [
    {"date": new Date("{{ first-date-pad|date:"YYYY-MM-dd"}}"), "count": 0},
    {% for event in events %}{"date": new Date("{{ event.event|date:"YYYY-MM-dd"}}"), "count": {{event.count}} },
    {%endfor %}
    {"date": new Date("{{ last-date-pad|date:"YYYY-MM-dd"}}"), "count": 0}];

    // debugger
    $(function(){
        data_graphic({
            title: "{{type}}",
            data: data{{forloop.counter}},
            width: 1140,
            height: 200,
            target: '#chart-{{forloop.counter}}',
            x_accessor: 'date',
            y_accessor: 'count',
            min_x: new Date("{{first-date-pad|date:"YYYY-MM-dd"}}"),
            max_x: new Date("{{last-date-pad|date:"YYYY-MM-dd"}}"),
            // missing_is_zero: true,
            interpolate: "step-after",
            linked: true,
            legend: "{{type}}",
            markers: milestoneMarkers
            // markers: markers
        })
    });
    </script>
    {% endfor %}

    <style>
 
    </style>

    {% for timeline in timelines %}
    <div id="chart-timeline-{{forloop.counter}}"></div>
    <script>
    <!-- TODO JS escape -->

    var data_timeline_{{forloop.counter}} = [
    {"date": new Date("{{ first-date-pad|date:"YYYY-MM-dd"}}"), "count": 0},
    {% for dt, count in timeline.timeline %}{"date": new Date("{{ dt|date:"YYYY-MM-dd"}}"), "count": {{count}} },
    {%endfor %}
    {"date": new Date("{{ last-date-pad|date:"YYYY-MM-dd"}}"), "count": 0}
    ];

    // debugger
    $(function(){
        data_graphic({
            title: "{{timeline.name}}",
            data: data_timeline_{{forloop.counter}},
            width: 1140,
            height: 200,
            target: '#chart-timeline-{{forloop.counter}}',
            x_accessor: 'date',
            y_accessor: 'count',
            min_x: new Date("{{first-date-pad|date:"YYYY-MM-dd"}}"),
            max_x: new Date("{{last-date-pad|date:"YYYY-MM-dd"}}"),
            // missing_is_zero: true,
            interpolate: "step",
            linked: true,
            legend: "{{type}}",
            markers: milestoneMarkers
            // markers: markers
        })
    });
    </script>
    {% endfor %}


    {% else %}
    No data

    {% endif %}
    </div>
  </div>
</div>    
{% endblock %}


