{% extends "templates/base.html" %}

{% block "content" %}
<div class="container">
<div class="row">
  <div class="col-md-12">    
    {% if extra-info.title %}<h1>{{extra-info.title}}</h1>{% endif %}
    <h2><a href="http://dx.doi.org/{{doi}}">{{response.doi}}</a></h2>
    <p class="lead">Events from {{response.first-date|date:"d MMMM YYYY"}} to {{response.last-date|date:"d MMMM YYYY"}}</p>
    
    {% if response.facts|not-empty  %}
    <table class="table table-striped event-table">
    <thead>
    <tr>
        <th>type</th>
        <th>count</th>
        <th>from</th>
    </tr>
    </thead>
    <tbody>
    {% for fact in response.facts %}
    <tr>
        <td><a href="/events/types/{{fact.type-name|name}}">{{fact.type-description}}</a></td>
        <td>{{fact.count}}</td>
        <td>
        {{fact.source.description}}
        <dl class="extra-info">
            {% for title,value in fact.extra %}
            <dt>{{site-title}}</dt>
            <dd>{% if value|is-url %}<a href="{{value}}">{{value}}</a>{% else %}{{value}}{% endif %}</dd>
            {% endfor %}
            </dl>
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    
    {% if response.milestones|not-empty  %}
    <table class="table table-striped event-table">
    <thead>
    <tr>
        <th>type</th>
        <th>date</th>
        <th>from</th>
    </tr>
    </thead>
    <tbody>
    {% for milestone in response.milestones %}
    <tr>
        <td><a href="/events/types/{{milestone.type-name|name}}">{{milestone.type-description}}</a></td>
        <td>{{milestone.event|date:"YYYY-MM-dd"}}</td>
        <td>
        {{milestone.source.description}}
        <dl class="extra-info">
            {% for title,value in milestones.extra %}
            <dt>{{site-title}}</dt>
            <dd>{% if value|is-url %}<a href="{{value}}">{{value}}</a>{% else %}{{value}}{% endif %}</dd>
            {% endfor %}
            </dl>
        </td>    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}

    {% if response.first-date response.last-date %}
    <script>
    $(function(){
        var time = new Rickshaw.Fixtures.Time();
{% for timeline in response.timelines %}

    var data_timeline_{{forloop.counter}} = [
    {"x": new Date("{{ first-date-pad|date:"YYYY-MM-dd"}}").getTime() / 1000, "y": 0},
    {% for dt, count in timeline.timeline %}{"x": new Date("{{ dt|date:"YYYY-MM-dd"}}").getTime() / 1000, "y": {{count}} },
    {%endfor %}
    {"x": new Date("{{ last-date-pad|date:"YYYY-MM-dd"}}").getTime() / 1000, "y": 0}
    ];

    var graph = new Rickshaw.Graph( {
        element: document.getElementById("chart_{{forloop.counter}}"),
        width: 1140,
        height: 200,
        title: "{{timeline.type-description}}",
        interpolation: 'step-after',
        renderer: 'area',
        stroke: true,
        preserve: true,
        series: [{
                color: 'rgba(0,0,255,0.2)',
                stroke: 'rgba(0,0,255,0.3)',
                name: 'count',
                stroke_width: 30,
                data: data_timeline_{{forloop.counter}}}]
            });

    graph.render();

    var hoverDetail = new Rickshaw.Graph.HoverDetail({
        graph: graph,
        xFormatter: function(x) {
            return new Date(x * 1000).toString();
        }});

    var annotator = new Rickshaw.Graph.Annotate({
        graph: graph,
        element: document.getElementById('timeline_{{forloop.counter}}')
    });

    var months = time.unit('month');

    var xAxis = new Rickshaw.Graph.Axis.Time({
        graph: graph,
        timeUnit: months});

    xAxis.render();

    var yAxis = new Rickshaw.Graph.Axis.Y({
        graph: graph,
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT});

    yAxis.render();

    {% for event in milestone-events %}
    annotator.add(new Date("{{event.event|date:"YYYY-MM-dd"}}").getTime() / 1000, "{{event.type-name}}");
    {% endfor %}
    annotator.update();

    // Show by default.
    $(".annotation").click() 
{% endfor %}
});
</script>

{% for timeline in response.timelines %}
<h3>{{timeline.type-description}}</h3>
{% if timeline.min %}<p>Minimum: {{timeline.min}}, maximum: {{timeline.max}}.</p>{%endif%}
<div id="content">
<div id="chart_container">
    <div id="chart_{{forloop.counter}}"></div>
    <div id="timeline_{{forloop.counter}}"></div>
</div>
</div>
{% endfor %}

    {% else %}
    No data
    {% endif %}

{% if response.events|not-empty %}
<h3>Events</h3>
    <table class="table table-striped event-table">
    <thead>
    <tr>
        <th>type</th>
        <th>date</th>
        <th>from</th>
    </tr>
    </thead>
    <tbody>
{% for event in response.events %}
    <tr>
        <td><a href="/events/types/{{event.type-name|name}}">{{event.type-description}}</a></td>
        <td>{{event.event|date:"YYYY-MM-dd"}}</td>
        <td>
        <dl class="extra-info">
        {{event.source.description}}
            {% for title,value in event.type-info %}
            <dt>{{site-title}}</dt>
            <dd>{% if value|is-url %}<a href="{{value}}">{{value}}</a>{% else %}{{value}}{% endif %}</dd>
            {% endfor %}
            </dl>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

    </div>
  </div>
</div>  

{% endblock %}


