{% extends "templates/base.html" %}

{% block "content" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>DOI: {{doi}}</h1>
    
            <p>The following domains reffered to this domain. Choose one to see more detail.</p>
            <ul>
            {% for host in hosts %}
            <li><a href="/domain-dois/{{host}}/{{doi}}">{{host}}</a></li>
            {% endfor %}
            </ul>

            <nav>
              <ul class="pager">
                {% if prev-offset %}<li><a href="?offset={{prev-offset}}">Previous</a></li>{% endif %}
                {% if next-offset %}<li><a href="?offset={{next-offset}}">Next</a></li>{% endif %}
              </ul>
            </nav>
        </div>
    </div>
</div>  

{% endblock %}


