{% extends "templates/base.html" %}

{% block "content" %}
<div class="container">
    <div class="row">
  <div class="col-md-12">
    
    <h1>{{type.description}}</h1>
    <p class="lead">Recent {{num-events}} events</p>    

    <table class="table table-striped event-table">
    <thead>
    <tr>
        <th>DOI</th>
        <th>date</th>
        <th>from</th>
        <th colspan="3">Extra info</th>
    </tr>
    </thead>
    {% for event in events %}
    <tr>
        <td><a href="/dois/{{event.doi}}">{{event.doi}}</a></td>
        <td>{{event.event|date:"YYYY-MM-dd"}}</td>
        <td>{{event.source.description}}</td>         
        <td>{% if event.arg1 %}<strong>{{event.type.arg1}}</strong></td><td>{{event.arg1}}{% endif %}</td>
        <td>{% if event.arg2 %}<strong>{{event.type.arg2}}</strong></td><td>{{event.arg2}}{% endif %}</td>
        <td>{% if event.arg3 %}<strong>{{event.type.arg3}}</strong></td><td>{{event.arg3}}{% endif %}</td>
    </tr>
    {% endfor %}
    </table>
        </div>
    </div>
</div>  

{% endblock %}


