{% extends "templates/base.html" %}

{% block "content" %}
<div class="container">
<div class="row">
  <div class="col-md-12">


    <h1>DOI Chronograph</h1>

    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      The data here is only a small demo sample. Do not use this data for anything yet. 
    </div>

    <p class="lead">Lots of things can happen to a DOI at the start of its lifetime. The DOI Chronograph tries to capture some of it.</p>
    <p>Currently being collected, in progress, or planned:
    <ul>
    <li>date publication was issued according to publisher</li>
    <li>first time a publisher deposited metadata to CrossRef (both in the <a href="https://github.com/CrossRef/util#date">CrossRef schema format</a> and a real ISO date)</li>
    <li>most recent time a publisher deposited metadata to CrossRef</li>
    <li>date the DOI was first clicked / resolved (by a human or otherwise)</li>
    <li>date on which it was first possible to follow the DOI</li>
    <li>URL the DOI resolved (both initial redirect and ultimate redirect) to the first time it was possible to follow it</li>
    </ul>

    <p>This project is in its early stages, and still collecting data. Contact jwass@crossref.org for information.</p>  

    <h2>Top Domains</h2>
    <p>See the <a href="/top-domains">top-200 referring domains per month &raquo;</a>.</p>
    <h2>DOIs</h2>
    <form class="form-horizontal" role="form" method="GET" action="/dois/">
      <div class="form-group">
        <label for="doi" class="col-sm-2 control-label">DOI</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="doi" name="doi" placeholder="10.5555/123456789">
        </div>
      </div>
       <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Go</button>
        </div>
      </div>
    </form>
    
    <h2>Domains</h2>
    <form class="form-horizontal" role="form" method="GET" action="/domains/">
      <div class="form-group">
        <label for="domain" class="col-sm-2 control-label">Domain</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="domain" id="domain" placeholder="wikipedia.org">
        </div>
      </div>
       <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Go</button>
        </div>
      </div>
    </form>
    
    <h2>Subomains</h2>
    <form class="form-horizontal" role="form" method="GET" action="/subdomains/">
      <div class="form-group">
        <label for="domain" class="col-sm-2 control-label">Subdomain</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="subdomain" id="domain" placeholder="en.wikipedia.org">
        </div>
      </div>
       <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Go</button>
        </div>
      </div>
    </form>
  </div>

  <h3>Interesting DOIs</h3>
  <ul>
  {% for doi in interesting-dois %}
    <li><a href="/dois/{{doi}}">{{doi}}</a></li>
  {% endfor %}
  </ul>
</div>

{% endblock %}