{% extends "templates/base.html" %}

{% block "content" %}
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1>Subdomain: {{subdomain}}</h1>
    <p>Main domain: <a href="/domains/{{domain}}">{{domain}}</a>.</p>
    <p class="lead">Events from {{first-date|date:"d MMMM YYYY"}} to {{last-date|date:"d MMMM YYYY"}}</p>

    <table class="table table-striped">
    <thead>
    <tr>
        <th>type</th>
        <th>date / count</th>
        <th>from</th>
    </tr>
    </thead>
    {% for fact in facts %}
    <tr>
        <td>{{fact.type-name}}</td>
        <td>{{fact.count}}</td>
        <td>{{fact.source-name}}</td>
        </tr>
    {% endfor %}
    
    {% for event in milestone-events %}
    <tr>
        <td>{{event.type-name}}</td>
        <td>{{event.event|date:"YYYY-MM-dd"}}</td>
        <td>{{event.source-name}}</td>
    </tr>
    {% endfor %}
    </table>
    {% if first-date last-date %}
    <script>
    $(function(){
        var time = new Rickshaw.Fixtures.Time();
    {% for timeline in timelines %}
        var data_timeline_{{forloop.counter}} = [
    {"x": new Date("{{ first-date-pad|date:"YYYY-MM-dd"}}").getTime() / 1000, "y": 0},
    {% for dt, count in timeline.timeline %}{"x": new Date("{{ dt|date:"YYYY-MM-dd"}}").getTime() / 1000, "y": {{count}} },
    {%endfor %}
    {"x": new Date("{{ last-date-pad|date:"YYYY-MM-dd"}}").getTime() / 1000, "y": 0}
    ];

    var graph = new Rickshaw.Graph( {
        element: document.getElementById("chart_{{forloop.counter}}"),
        width: 1140,
        height: 200,
        title: "{{timeline.name}}",
        interpolation: 'step-after',
        renderer: 'area',
        stroke: true,
        preserve: true,
        series: [{
                color: 'rgba(0,0,255,0.2)',
                stroke: 'rgba(0,0,255,0.3)',
                name: 'count',
                stroke_width: 30,
                data: data_timeline_{{forloop.counter}}}]
            });

    graph.render();

    var hoverDetail = new Rickshaw.Graph.HoverDetail({
        graph: graph,
        xFormatter: function(x) {
            return new Date(x * 1000).toString();
        }});

    var annotator = new Rickshaw.Graph.Annotate({
        graph: graph,
        element: document.getElementById('timeline_{{forloop.counter}}')
    });

    var months = time.unit('month');

    var xAxis = new Rickshaw.Graph.Axis.Time({
        graph: graph,
        timeUnit: months});

    xAxis.render();

    var yAxis = new Rickshaw.Graph.Axis.Y({
        graph: graph,
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT});

    yAxis.render();

    {% for event in milestone-events %}
    annotator.add(new Date("{{event.event|date:"YYYY-MM-dd"}}").getTime() / 1000, "{{event.type-name}}");
    {% endfor %}
    annotator.update();

    // Show by default.
    $(".annotation").click() 
{% endfor %}
});
</script>

{% for timeline in timelines %}
<h3>{{timeline.name}}</h3>
{% if timeline.min %}<p>Minimum: {{timeline.min}}, maximum: {{timeline.max}}.</p>{%endif%}
<div id="content">
<div id="chart_container">
    <div id="chart_{{forloop.counter}}"></div>
    <div id="timeline_{{forloop.counter}}"></div>
</div>
{% endfor %}
</div>

    {% else %}
    No data

    {% endif %}
   

    {% if subdomains %}
    <h1>Subdomains</h1>
    <ul>
    {% for subdomain in subdomains %}
    <li><a href="/subdomains/{{subdomain.host}}">{{subdomain.host}}: {{subdomain.cnt}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
 </div>

      </div>
</div>  

{% endblock %}


