{% extends "templates/base.html" %}

{% block "content" %}
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h1>Top {{top}} domains per month</h1>
    <p>Please note that some of these domains are <a href="/redacted-domains">redacted</a>. We also remove 'domain not known', which would normally show as top domain. </p>
    <p>Show: <a href="?top=5">5</a> <a href="?top=10">10</a> <a href="?top=20">20</a> <a href="?top=50">50</a> <a href="?top=100">100</a> <a href="?top=200">200</a> per month. Note that this takes top-n per month, so will show more than n lines in order to show all relevant domains.</p>
    <script>
    $(function(){
        var time = new Rickshaw.Fixtures.Time();

    var palette = new Rickshaw.Color.Palette();

    var series = [
    {% for domain, results in top-domains %}
    {color: palette.color("{{domain}}"),
        name: "{{domain}}",
     data: [{% for month, count in results %}{"x": new Date("{{ month|date:"YYYY-MM-dd"}}").getTime() / 1000, "y": {{count}}}{% if not forloop.last %},
    {% endif %}{% endfor %}]}{% if not forloop.last %},{% endif %}
    {% endfor %}];

    var graph = new Rickshaw.Graph( {
        element: document.getElementById("chart"),
        width: 1140,
        height: 500,
        interpolation: 'linear',
        renderer: 'line',
        stroke: true,
        preserve: true,
        series: series});

    graph.render();

    var hoverDetail = new Rickshaw.Graph.HoverDetail({
        graph: graph,
        xFormatter: function(x) {
            return new Date(x * 1000).toString();
        }});

    var months = time.unit('month');

    var xAxis = new Rickshaw.Graph.Axis.Time({
        graph: graph,
        timeUnit: months});

    xAxis.render();

    var yAxis = new Rickshaw.Graph.Axis.Y({
        graph: graph,
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT});

    yAxis.render();

    var legend = new Rickshaw.Graph.Legend( { 
            element: document.querySelector('#legend'), 
            graph: graph
        } );

    var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight( {
        graph: graph,
        legend: legend
    } );
});
</script>

<div id="content">
<div id="chart_container">
    <div id="chart"></div>
    <div id="legend"></div>

</div>
</div>


</div>

    </div>
  </div>
</div>  

{% endblock %}


